       /* background-image: linear-gradient(45deg, #ffb8d1, #ffaed4, #525252, #525252, #342828, #363636 ); */
       /* height: 50%; */



       .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 150vh;
        background-color: #f8f8f8;
        background-image: linear-gradient(
          45deg,
          #cadfff,
          #fadfff,
          #ffd5f3,
          #ffd1c3,
          #ffd2f2,
          #cadfff,
          #ffd2f2
        );
      }
      
      .glassmorphism-form {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(10px);
        padding: 24px;
        width: 400px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        height: 100vh;
        animation: glow 3s infinite alternate; 
       
      }
      
      @keyframes glow {
        from {
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
        to {
          box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
        }
      }
      
      .b {
        background-color: rgb(255, 214, 214);
        width: 270px;
        border-radius: 30px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-color: rgb(254, 238, 238);
      }
      
      .input {
        background-color: #ffd5f3;
        color: rgb(0, 0, 0);
        border-color: #ffe6f8;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
      
      .input1 {
        background-color: #fbdcff;
        color: rgb(0, 0, 0);
        border-color: #fcf1fd;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
      

